<main>
      <div class="container">
      <div class="row justify-content-center align-items-center vh-100 py-5">
        <div class="col-sm-10 col-md-8 col-lg-7 col-xl-6 col-xxl-5">
          <div class="card card-body text-center p-4 p-sm-5">
            <h1 class="mb-2">Iniciar sesión</h1>
            <p class="mb-0">No tienes una cuenta?<a [routerLink]="['/registro']" > Click para registrarte</a></p>
            <form class="mt-sm-4">
              <div class="mb-3 input-group-lg">
                <input type="email" class="form-control" placeholder="Correo electrónico" name="email" [(ngModel)]="usuario.email">
              </div>
              <div class="mb-3 position-relative">
                <div class="input-group input-group-lg">
                  <input class="form-control fakepassword" type="password" placeholder="Ingresa tu contraseña" name="password" [(ngModel)]="usuario.password">
                  <span class="input-group-text p-0">
                    <i class="fakepasswordicon fa-solid fa-eye-slash cursor-pointer p-2 w-40px"></i>
                  </span>
                </div>
              </div>
              <div *ngIf="msm_error" class="form-group" style="    padding-top: 1rem;
              padding-bottom: 1rem;">
                <span class="text-danger">{{msm_error}}</span>
              </div>
              <div class="mb-3 d-sm-flex justify-content-between">
                                <a href="forgot-password.html">Olvidaste tu contraseña?</a>
              </div>
              <div class="d-grid">
                <button type="submit" class="btn btn-lg btn-primary" (click)="login()">Ingresar</button>
            </div>
            </form>
          </div>
        </div>
      </div> 
    </div>
    </main>
